
<p>What is your longest word?</p>
<p>lift</p>

<p>******** Now your results ********</p>
<%# <p>Your word: lift</p> %>

<p>Time Taken to answer:</p>
12.07916
<p>Your score:</p>
3.194722666666667
<p>Message: Well Done!</p>
